<div id="<%= dom_id producto %>">
  <p>
    <strong>Id producto:</strong>
    <%= producto.id_producto %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= producto.costo %>
  </p>

  <p>
    <strong>Precio venta:</strong>
    <%= producto.precio_venta %>
  </p>

  <p>
    <strong>Existencias:</strong>
    <%= producto.existencias %>
  </p>

</div>
